@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional global styles */
body {
  @apply bg-slate-950 text-slate-100;
}

/* Hide scrollbars globally */
html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
